body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #511010;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: rgba(230, 225, 231, 0.812);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

input, textarea, button {
    width: 90%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    resize: none;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap; 
}


button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.note {
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.actions a {
    color: #f8d210;
    margin-right: 10px;
    text-decoration: none;
}
.logout-box {
  text-align: center;
  margin-top: 10px;
}

.logout-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  /* font-size: 16px; */
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
}



.logout-btn:hover {
  background-color: #d62828;
}

.delete-account {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
.delete-account:hover {
  background-color: #c9302c;
}

